
/* Stijlen voor het navigatiemenu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(64, 121, 243, 0.797); /* Blauwe achtergrondkleur met lichte transparantie */
    position: fixed; /* Menu vast bovenaan de pagina */
    top: 0; /* Plaats het menu helemaal bovenaan */
    width: 100%; /* Breedte van het menu */
    z-index: 2; /* Zorgt ervoor dat het menu boven andere elementen wordt weergegeven */
}

li {
    float: left; /* Lijstitems naast elkaar plaatsen */
    border-right: 1px solid #bbb; /* Rechterrand tussen menu-items */
}

li:last-child {
    border-right: none; /* Geen rechterrand voor het laatste menu-item */
}

li a {
    display: block;
    color: white; /* Witte tekstkleur */
    text-align: center;
    padding: 14px 16px; /* Ruimte binnenin menu-items */
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgba(64, 121, 243, 0.797); /* Rode achtergrondkleur bij hover */


}